---
import { ViewTransitions } from 'astro:transitions';
---
<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GBA</title>
    
    <ViewTransitions />
    
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
  /* --- FONT (Assicurati che siano qui) --- */
  @font-face { 
    font-family: 'Monument Grotesk Trial'; 
    src: url('/src/asset/type/ABCMonumentGrotesk-Medium-Trial.otf') format('opentype'); 
    font-weight: 500; 
    font-style: normal; 
  }
  @font-face { 
    font-family: 'Monument Grotesk Trial';
    src: url('/src/asset/type/ABCMonumentGrotesk-Bold-Trial.otf') format('opentype'); 
    font-weight: 700; 
    font-style: normal; 
  }
  @font-face { 
    font-family: 'Monument Grotesk Mono Trial'; 
    src: url('/src/asset/type/ABCMonumentGroteskMono-Regular-Trial.otf') format('opentype'); 
    font-weight: 500; 
    font-style: normal; 
  }
  /* --- FINE FONT --- */

  *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
    }
</style>