---
// src/layouts/MobileLayout.astro
// (Potresti avere un 'title' o 'description' qui, va bene)
---
<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>GBA</title>
    
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
  *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        
        /* Forza il blocco dello scroll orizzontale */
        position: relative;
        overflow-x: hidden;
    }
</style>